<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products<i class="fas fa-angle-down"></i>
            </a>
            
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>                
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?category=formal,casual,sandals" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shoe-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes<i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoe-link">
                <a href="{% url 'products' %}?category=formal" class="dropdown-item">Formals</a>
                <a href="{% url 'products' %}?category=casual" class="dropdown-item">Casuals</a>                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'products' %}?category=sandals" class="logo-font font-weight-bold nav-link text-black mr-5" id="sandals-link" aria-haspopup="true" aria-expanded="false">
                Sandals
            </a>              
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products' %}?new_arrivals"  id="new-arrivals-link" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>           
        </li>
    </ul>
</div>