{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<!-- <h1>{% trans "Sign In" %}</h1> -->

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  <!-- <p class="p-2">{% blocktrans %}If you have not created an account yet, then please
    <a class="text-orange" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
  </p> -->
{% endif %}

<div class="login-container">
  <div class="login-box">
    <h2 class="login-heading">SIGN IN</h2>
    <form method="post" class="login-form">
      {% csrf_token %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:"form-control" }} 
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary btn-block">Sign In</button> 
    </form>
    <p class="login-links">
      Don't have an account? <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-sm">Sign up</a> <br>      
    </p>
  </div>
</div>
{% endblock %}
