{% load static %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" 
            content="Welcome to ManCrazeShoes - Navan-based men's shoe shop offering a wide range of casual, formal, and sandal shoes, including bestsellers and top brands!">
        <meta name="keywords" content="men's shoes, ManCrazeShoes, Navan, Ireland, casual shoes, formal shoes, sandals, leather shoes, men's footwear, shoe shop, bestsellers, top brands, comfortable shoes, stylish shoes, affordable men's shoes">
        <meta name="author" content="ManCrazeShoes">
        <meta name="robots" content="index, follow">        
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href ="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
        <link rel="stylesheet" href ="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20.0/dist/summernote-bs4.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    {% endblock %}
    <!-- favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/apple-touch-icon_qbzsfv.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/favicon-32x32_fdusqz.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/favicon-16x16_h7pbfy.png">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/favicon_hfce7n.ico">
    {% block corejs %}
        <!-- font awesome script -->
        <script src="https://kit.fontawesome.com/e08e5fb41e.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20.0/dist/summernote-bs4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>ManCrazeShoes {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">                     
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img class="mcs_logo"
                    src="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/favicon-32x32_fdusqz.png" alt="Shoe logo">
                    <h2 class="logo-font text-black my-0" style="display: inline-block;">
                        <strong>ManCrazeShoes</strong>
                    </h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                            </button>
                      </div>
                  </div>
              </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        {% if request.user.is_authenticated %}                                
                            <a href="{% url 'my_wishlist' request.user.id %}" class="dropdown-item">                               
                                <div class="text-center">
                                    <div><i class="fas fa-heart text-danger fa-lg"></i></div>
                                    {% if wishlist_count %}
                                        <span class="wishlist-count">{{ wishlist_count }}</span>
                                    {% else %}
                                        <span class="wishlist-count">0</span> 
                                    {% endif %}                                   
                                </div>
                            </a>
                        {% endif %}
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping"></i></div>                                
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
      
        <div id="delivery-banner" class="row text-center">
                <div class="col bg-black text-blue">
                    <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
                </div>                
        </div>               
        </header>    

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

    {% block page_header %}
    {% endblock %}
 
    {% block content %}
    {% endblock %}
        <!-- footer -->    
        <footer class="footer bg-dark text-white mt-4 mt-auto py-3 bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mt-4">
                        <h5 class="footer-heading d-block d-md-none help-header" data-toggle="collapse" data-target="#help-content" aria-expanded="false" aria-controls="help-content">Help
                            <button class="toggle-button" type="button" aria-expanded="false">+</button>
                        </h5>                        
                        <h5 class="footer-heading d-none d-md-block">Help</h5>
                        <div class="collapse d-md-block" id="help-content">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'account_signup' %}" class="text-white">Sign Up</a></li>
                                <li><a href="{% url 'account_login' %}" class="text-white">Sign In</a></li>
                                <li><a href="{% url 'about_us' %}" class="text-white">About Us</a></li>
                                <li><a href="{% url 'faq' %}" class="text-white">FAQ</a></li>
                                <li><a href="{% url 'privacy_policy' %}" class="text-white">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>                    
                    <div class="col-md-3 mt-4">
                        <h5 class="footer-heading d-block d-md-none shopby-header" data-toggle="collapse" data-target="#shopby-content" aria-expanded="false" aria-controls="shopby-content">
                            Shop By
                            <button class="toggle-button" type="button" aria-expanded="false">+</button>
                        </h5>
                        <h5 class="footer-heading d-none d-md-block">SHOP BY</h5>
                        <div class="collapse d-md-block" id="shopby-content">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'products' %}?category=formal" class="text-white">Formals</a></li>
                                <li><a href="{% url 'products' %}?category=casual" class="text-white">Casuals</a></li>
                                <li><a href="{% url 'products' %}?category=sandals" class="text-white">Sandals</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <h5 class="footer-heading">
                            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                <img class="mcs_logo"
                                src="https://res.cloudinary.com/dmhdrvehj/image/upload/v1714570470/favicon-32x32_fdusqz.png" alt="Shoe logo">
                                <h2 class="logo-font text-black my-0" style="display: inline-block;">
                                    <strong>ManCrazeShoes</strong>
                                </h2>
                            </a>
                        </h5>
                        <div class="container d-flex justify-content-center justify-content-lg-between">
                            <div class="me-5 d-none d-lg-block">
                              <span>FOLLOW US</span>
                            </div>
                            <div id="social-links">
                              <ul class="list-inline social-links">                                
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/profile.php?id=61562444031840" target="_blank" rel="noopener" aria-label="Link to Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Link to Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Link to Instagram"><i class="fab fa-instagram"></i></a>
                                </li>                                
                                <li class="list-inline-item">
                                  <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Link to Youtube"><i class="fab fa-youtube"></i></a>                                                                     
                                </li>                                               
                              </ul>  
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col text-center">
                                <p>&copy; 2024 ManCrazeShoes. All rights reserved.<a href="https://github.com/naisepaul/ManCrazeShoes" target="_blank" rel="noopener" 
                                    class="me-4 text-reset" aria-label="Link to GitHub"><i class="fab fa-github"></i></a></p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>            
        </footer>
    </div>
    {% block postloadjs %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function setupToggleButton(headerSelector, contentSelector) {
                const toggleButton = document.querySelector(headerSelector + ' .toggle-button');
                const content = document.querySelector(contentSelector);

                toggleButton.addEventListener('click', function() {
                    const isExpanded = content.classList.contains('show');
                    toggleButton.textContent = isExpanded ? '+' : '-';
                });

                $(contentSelector).on('show.bs.collapse', function () {
                    toggleButton.textContent = '-';
                });

                $(contentSelector).on('hide.bs.collapse', function () {
                    toggleButton.textContent = '+';
                });
            }

            setupToggleButton('.shopby-header', '#shopby-content');
            setupToggleButton('.help-header', '#help-content');
        });
       
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    {% endblock %}
</body>
</html>