{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="text-muted">PRODUCT MANAGEMENT</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>        
        <div class="login-box">
            <!-- Product Form -->
            <form method="POST" enctype="multipart/form-data">                
                {% csrf_token %}
                <h2>Product Details</h2>
                {{ product_form.as_p }}
        
                <h2>Product Variants</h2>
                {{ variant_formset.management_form }}
                {% for form in variant_formset %}
                    {{ form.as_p }}
                {% endfor %}
                <div class="mt-5 d-flex justify-content-end">                                   
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">
                        Save Product
                    </button>
                    <!-- Cancel Button -->
                    <a href="{% url 'products' %}" class="btn btn-danger">
                        <p class="d-inline">Cancel</p>
                    </a> 
                </div>
            </form>                    
        </div>
    </div>

{% endblock %}
