{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 mx-auto text-center">
                <hr>
                <h2 class="text-muted">PRODUCT MANAGEMENT</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>
        
        <div class="login-box col-10 col-md-8 mx-auto">
            <!-- Edit Product Form -->
            <form method="POST" enctype="multipart/form-data">                
                {% csrf_token %}                
                <!-- Product Details Column -->            
                <h2>Product Details</h2>
                {{ product_form.as_p }}           
                                    
                <!-- Product Variants Column -->
            
                <h2>Product Variants</h2>
                {{ variant_formset.management_form }}
                {% for form in variant_formset %}
                    <div class="variant-form">
                        <!-- Render any non-field errors for the form -->
                        {{ form.non_field_errors }}
                        {{ form.id }} 
                        <!-- Render the size field -->
                        <div class="form-group">
                            {{ form.size.label_tag }}
                            {{ form.size }}
                            {{ form.size.errors }}
                        </div>
                        <!-- Render the stock field -->
                        <div class="form-group">
                            {{ form.stock.label_tag }}
                            {{ form.stock }}
                            {{ form.stock.errors }}
                        </div>                       
                    </div>
                {% endfor %}    
                <!-- Submit and Cancel Buttons -->
                <div class="mt-5 d-flex justify-content-end">                                   
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary me-2">
                        Save Changes
                    </button>
                    
                    <!-- Cancel Button -->
                    <a href="{% url 'products' %}" class="btn btn-danger">
                        <p class="d-inline">Cancel</p>
                    </a> 
                </div>                
            </form>            
        </div>
    </div>
{% endblock %}