{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>My Wishlist</h1>    
    {% if wishlist and wishlist.products.exists %}
        <!-- Wrap items in a row -->
        <div class="row wishlist-items d-flex align-items-center">
            {% for product in wishlist.products.all %}                
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Product Image -->                                    
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" style="cursor: pointer;" src="{{ product.image.url }}" alt="{{ product.product.name }}">
                            </a> 
                            <!-- Wishlist Button -->
                            <form class="product-links" method="POST" action="{% url 'wishlist-add' product.id %}">
                                {% csrf_token %}                                        
                                <button type="submit" name="wishlist" value="submit" aria-label="add to wishlist">
                                    {% if wishlist %} 
                                        <i class="fa-solid fa-heart text-danger"></i>  <!-- Filled heart when product is in wishlist -->                                          
                                    {% else %}
                                        <i class="fa-regular fa-heart fa-flip"></i>  <!-- Empty heart if not in wishlist -->                                        
                                    {% endif %}                                                                                                                                   
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            </form>
                        </div>
                        <!-- Product name -->
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>                                        
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <!-- Product price -->
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    <!-- Product category -->
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category }}">
                                            <i class="fa-solid fa-shoe-prints"></i> {{ product.category }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                    {% endif %}                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            {% endfor %}
        </div>
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}